@import "mixin";


/* ハンバーガーメニュー */
#hamburger {
  position: fixed;
  right : 4vw;
  top: 2vh;
  z-index: 100; /*ハンバーガーを一番上に表示 */

  @include sp{
    right: 10vw;
    top: .5vh;
  }
}

/* 三本線の調整 */
.open-line {
  position: relative;
  cursor: pointer;
  z-index: 100;
  height: 10vh;width: 6vw; /*クリック範囲 */

  span {
    position: absolute;
    height: 1px;
    background: $font-color;

      /* 開く前三本ラインの調整 */
      &:nth-of-type(1) {
        top: 2vh;
        width: 4vw;

        @include sp{
          width: 10vw;
        }
      }

      &:nth-of-type(2) {
        top: 3.8vh;
        width: 3vw;

        @include sp{
          width: 8vw;
        }
      }

      &:nth-of-type(3) {
        top: 5.6vh;
        width: 2vw;

        @include sp{
          width: 6vw;
        }
      }
  }
}

/* ラインが開く、閉じる速度 */
.open-line, .open-line span {
  display: inline-block;
  transition: all .5s;
}

/* 開いたあと三本ラインの調整 */
.open-line.open span{
  &:nth-of-type(1) {
    width: 1.4vw;
    transform: translate3d(2px, 5px, 0) rotate(45deg);

    @include sp{
      width: 3vw;
      transform: translate3d(2px, 8px, 0) rotate(45deg);
    }
  }

  &:nth-of-type(2) {
    transform: translate3d(0px, 0, 0) rotate(-45deg);
  }

  &:nth-of-type(3) {
    width: 1.3vw;
    transform: translate3d(20px, -5px, 0) rotate(45deg);
    
    @include sp{
      width: 3vw;
      transform: translate3d(17px, -8px, 0) rotate(45deg);
    }
  }
}


/*開いた時のnav中身*/
#nav{
  position: fixed;
  top: 0;
  right: -100%;
  width: 100vw;
  height: 100vh;
  background-color: $background-color;
  font-size: 1.1rem;
  transition: all 0.6s;

  @include sp{
    font-size: 1.2rem;
  }

  img{
   @include img(16vw,11vh);
    margin: 17vh auto 10vh;

    @include sp{
      @include img(60vw,auto);
      margin: 10vh auto 
    }
  }

  ul li{
    margin-bottom: 7vh ;
  }
}

/* 開いた時 */
#nav.open{
  right: 0px;
}


/* ハンバーガー内コンタクトボタン */

.nav-contact-btn{
  margin-bottom: 5vh;

  a{
    @include btn;

    @include sp{
      margin: 2vh auto 4vh;
      padding: 1.5vh 10vw;
      max-width: 100vw;
    }

    &:hover{
      @include btn-hover;
    }

    .fa-chevron-right{
      @include arrow(#c196ba);
    }
  }
}


